<div id="login">
  <h2>Sign In With Twitter</h2>
  <p>Since this is a twitter app, go ahead and sign in with twitter.</p>
  
  <%- form_tag session_path do -%>
    <p><%= image_submit_tag 'twitter_sign_in.png' %></p>
  <%- end -%>
</div>