<br />
Token: <%= ENV['TWITTER_TOKEN'] %><br />
Secret: <%= ENV['TWITTER_SECRET'] %>
<div id="login">
  <h2>Sign In With Twitter</h2>
  <p>Yo! CLICK THE BUTTON!</p>
  <%- form_tag session_path do -%>
    <p><%= image_submit_tag 'twitter_sign_in.png' %></p>
  <%- end -%>
</div>