<div id="update">
  <%- form_tag statuses_url, :method => :post do -%>
    <span id="countdown">140</span>
    <label for="text">Drop a new tweet like it's hot!</label>
    <%= text_area_tag 'text' %>
    <%= submit_tag 'Update' %>
  <%- end -%>
</div>

<div id="statuses">
  <%- for tweet in @tweets -%>
    <%= render :partial => 'statuses/status', :object => tweet %>
  <%- end -%>
</div>

<%= render :partial => "pagination" %>