@media screen, projection {  
  *{margin:0; padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}caption,th{text-align:left;}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}em{font-weight:italic;}ul,ol{margin:0 0 20px 25px;}p{margin:0 0 20px;}
  
  /* Redeclarations */
  body                              {background:#eee; color:#333; font:13px/1.4 Helvetica, Arial, sans-serif;}
  h2                                {clear:left; font-size:18px; line-height:18px; padding:30px 0 10px;}
  a:link                            {color:#090;}
  a:visited                         {color:#8BD18B;}
  a:hover                           {text-decoration:none; background:#090; color:#fff;}
  form ul                           {margin:0; padding:0;}
  form ul li                        {list-style-type:none; margin:0 0 13px; padding:0;}
  form ul li label                  {display:block; margin:0 0 3px;}
  form ul li.checkbox label         {display:inline;}
  textarea                          {width:98%;}
  
  /* Chunks */
  a.icon                            {display:inline-block; background-color:#999; background-image:url(images/bg_rounded.gif); background-repeat:no-repeat; width:16px; height:16px;}
  a.icon img                        {width:16px; height:16px; margin:0; padding:0;}
  a.icon:hover                      {background-color:#090;}
  
  div.flash                         {margin:10px 0 0 240px; padding:10px 20px; border:1px solid #ccc; background:#eee; line-height:1.3; font-size:12px;}
    div.error                       {border:1px solid #E3BEBE; background:#F6E8E8;}
    div.notice                      {border:1px solid #B9E3B9; background:#E8F6E8;}
  
  div.status                        {float:left; display:inline; width:550px; border-bottom:1px solid #eee; padding:15px 0;}
    div.info                        {float:left; display:inline; width:240px; margin:0; font-size:11px; text-align:right;}
    div.info span.followers_count   {color:#999; position:relative; top:-4px; margin-right:3px;}
    div.info a.profile_image        {float:right; display:block; margin:0 30px;}
    div.info a.profile_image img    {float:left; width:48px; height:48px; border:1px solid #ddd; padding:1px;}
    div.info a.profile_image:hover  {background:none;}
    div.info a.profile_image:hover img {border-color:#090;}
    div.info p.who_when             {margin:0; padding:0;}
    div.info span.date              {color:#aaa;}
    div.text                        {float:left; display:inline; width:300px;}
  
  div.profile                       {float:left; width:380px; border-bottom:1px solid #eee; margin:0 0 0 240px; padding:15px 0;}
    div.profile a.icon              {float:right;}
    div.profile div.follow_form     {float:left; margin:5px 0 0 -120px;}
    div.profile p                   {margin:0; padding:0;}
    div.profile img.profile_image   {float:left; display:inline; margin:0 30px 10px 0; padding:1px; width:48px; height:48px; border:1px solid #eee;}
    div.profile h2                  {clear:none; background:none; margin:0 0 6px; padding:0; font-size:15px; line-height:15px;}
    div.profile p.counts            {color:#777; margin:0 0 10px; font-size:12px; line-height:12px;}
    div.profile dl.details          {margin:0; padding:0; font-size:12px;}
    div.profile dl.details dt       {clear:left; float:left; width:110px; margin:0 0 0 -140px; padding:3px 30px 3px 0; text-align:right; font-weight:bold;}
    div.profile dl.details dd       {float:left; width:380px; padding:3px 0;}
  
  div.pagination                    {float:left; width:550px; margin:15px 0;}
  div.pagination a                  {float:left; display:block; padding:3px 7px; color:#46B546; text-decoration:none;}
  div.pagination a:hover            {color:#fff; background:#090;}
  div.pagination a.newer            {float:left;}
  div.pagination a.older            {float:right;}
  div.pagination span.disabled      {padding:3px 7px; text-transform:lowercase; color:#ccc;}
  div.pagination span.current       {padding:3px 5px; font-weight:bold;}
  
  #errorExplanation                 {border:1px solid #E3BEBE; background:#F6E8E8; margin:10px 0 20px; padding:20px;}
  #errorExplanation h2              {margin:-20px -20px 20px; background:#E3BEBE; padding:10px 20px;}
  #errorExplanation p               {margin:0 0 20px;}
  #errorExplanation ul              {margin:0 0 0 25px;}
  #errorExplanation ul li           {list-style-type:disc; margin:0 0 3px; padding:0;}
  
  #update                           {position:relative; float:left; display:inline; width:300px; margin:10px 0 20px 240px;}
  #update label                     {display:block; font-size:11px; color:#999; margin:0 0 5px;}
  #update textarea                  {width:294px; height:50px; padding:3px;}
  #update input                     {float:right;}
  #update #countdown                {display:block; position:absolute; left:-240px; width:210px; padding:12px 30px 0 0; text-align:right; font-size:60px; font-weight:bold; color:#eee;}
  
  /* Layout */
  #header                           {float:left; width:100%; padding:1px 0 0; background:#333; color:#fff;}
  #header_inner                     {width:550px; margin:0 auto; line-height:12px; font-size:12px;}
    #header a                       {color:#fff; text-decoration:none; background:none;}
    #header a:hover                 {text-decoration:underline;}
    #header h3                      {float:left; display:inline; margin:0; padding:0;}
    #header h3 a                    {display:block; font-size:12px; width:180px; padding:8px 0 8px 50px;}
    #header h3 a:hover              {background:#555; text-decoration:none;}
    #nav                            {float:left; display:inline; margin:0; padding:0;}
    #nav li                         {float:left; list-style-type:none;}
    #nav li a                       {display:block; float:left; padding:8px 10px;}
    #nav li a:hover                 {background:#555; text-decoration:none;}
    #nav li.active a                {background:#fff; color:#333;}
    
  #content                          {float:left; display:inline; width:100%; background:#fff;}
    #content_inner                  {width:550px; margin:0 auto;}
    
  #footer                           {float:left; display:inline; width:100%; padding:30px 0 0; background:#eee; border-top:1px solid #ccc;}
    #footer_inner                   {width:550px; margin:0 auto;}
    #footer div.column              {float:left; display:inline; width:110px; margin:0 30px 30px 0;}
    #footer div.column ul           {margin:0; padding:0;}
    #footer div.column ul li        {margin:0 0 3px; padding:0; list-style-type:none;}
    #footer div.column ul li a      {font-size:12px; color:#666; text-decoration:none;}
    #footer div.column ul li a:hover{background:none; text-decoration:underline;}
}