<h2>Yo!</h2>

<%- if current_user.authorized? -%>
  <%- for tweet in current_user.client.friends_timeline -%>
    <%= debug tweet %><br /><br />
  <%- end -%>
<%- else -%>
  <p>We need you to authorize this app. <%= link_to 'Authorize', new_authorization_url %></p>
<%- end -%>