<div id="statuses">
  <%- for tweet in @tweets -%>
    <%= render :partial => 'statuses/status', :object => tweet %>
  <%- end -%>
</div>

<div class="pagination">
  <%= link_to '&lt; Newer', {:page => params[:newer]}, :class => 'newer' if params[:newer] > 0 %>
  <%= link_to 'Older &gt;', {:page => params[:older]}, :class => 'older' %>
</div>