development: &global_settings
  database: twitter-app-development
  host: 127.0.0.1
  port: 27017

test:
  database: twitter-app-test
  <<: *global_settings

production:
  database: twitter-app-production
  <<: *global_settings